*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 1rem;
    background: #fff;
    border-radius: 24px 24px 100px 24px;
}

.container {
    padding: 3rem 1.5rem;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 700;
}
.input {
    max-width: 30%;
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 0.75em;
    letter-spacing: 0.25em;
    color: #716F6F;
}
input {
    /* width: 5rem; */
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    color: #151515;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
}
.red {
    color: red;
}
.error {
    border-color: red;
}
.error-text {
    font-size: 0.5rem;
    font-weight: 400;
    margin-top: 0.2em;
    color: red;
}

.form-submit {
    margin: 4rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.submit {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #854DFF;
    margin: 0 auto;
    position: absolute;
    left: 38%;
    top: -2rem;
    cursor: pointer;
}
img {
    width: 40%;
}
.line {
    border: 1px solid #DCDCDC;
}

.outputs {
    font-weight: 800;
    font-style: italic;
}
.output {
    font-size: 3.5rem;
    padding: 0;
}
.val {
    color: #854DFF;
}

@media (min-width: 1000px) {
    .main {
        max-width: 600px;
    }
    .container {
        padding: 3rem 6rem;
    }
    .inputs {
        justify-content: flex-start;
    }
    .input + .input {
        margin-left: 1em;
    }
    .input {
        font-weight: 700;
        width: 25%;
    }
    .year {
        width: 130%;
    }
    .output {
        font-size: 4rem;
    }
    .submit {
        left: 84%;
    }
    .error-text {
        font-weight: 700;
        letter-spacing: 0.05em;
    }
}
